@import './base.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-[var(--color-background)] text-[var(--color-text)] min-h-screen text-base;
  }
  #app {
    @apply font-normal w-full;
  }
  a,
  .green {
    text-decoration: none;
    color: hsla(160, 100%, 37%, 1);
    transition: 0.4s;
    padding: 3px;
  }
  @media (hover: hover) {
    a:hover {
      background-color: hsla(160, 100%, 37%, 0.2);
    }
  }
}

@layer components {
  .btn {
    @apply py-2 px-4 rounded;
  }
  .card {
    @apply bg-slate-800 rounded-lg p-4 shadow-md border border-slate-500 max-w-60 min-h-[500px] flex flex-col;
  }

  .container-card {
    @apply grid grid-cols-3 gap-4 xl:grid-cols-4 max-md:grid-cols-1 w-full place-items-center;
  }

  .container-search {
    @apply flex justify-end mr-8 gap-2 items-center my-4;
  }

  .search-bar {
    @apply text-slate-900;
  }
  .wrapper {
    @apply flex flex-col md:flex-row items-center justify-between w-full;
  }
}
